@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1d;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
/* Animação da linha de ECG */
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-pulse-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear infinite;
}